body {
    background-color:darkred;
    background-image: url("https://cdn.wallpapersafari.com/37/83/dKJD5r.jpg" );
    background-size: cover
}
h1 {
    color: goldenrod;
    font-family: Times, "Times New Roman", Georgia, serif;
    font-size: 200%;
    text-align: center;
    background-image: url("https://media4.giphy.com/media/tkvhWFfLVzk9jbmDBw/giphy.webp?cid=ecf05e47rwh7sgn99mawi2m0b3u41z1fo68vk795d4ihagj9&rid=giphy.webp&ct=s")
    no-repeat center center;
    text-indent: 0px;
    
  }
h2 {
    color: orange;
    font-family: fantasy;
    font-size: 700%;
    text-align: center;

    
    
      
      font-weight: bold;
      position: relative;
      z-index: 1;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: goldenrod;
    }
    
    
    .wordart.slate {
        transform: scale(1, 1.5);
        -webkit-transform: scale(1, 1.5);
        -moz-transform: scale(1, 1.5);
        -o-transform: scale(1, 1.5);
        -ms-transform: scale(1, 1.5);
    }
    
    .wordart.slate .text {
        font-family: Times, 'Times New Roman', serif;
        font-weight: normal;
        color: #2F5485;
        text-shadow: 0.03em 0.03em 0px #B3B3B3;
    }
    img{
        position: right;
    }
    p {
        text-align:right;
        position: relative;
        font-style:italic;
        color:black;
        font-size:130%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5cm;
        margin-right: 12cm;
        border: #2F5485;
        text-emphasis-style: bold;



    }
   img.three{
       text-align: center;
   } 



























































































































































































































































































































